body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 26px;

  --background: #F1FBEE;
  --secondary-background: #B9C6CA;
  --text: #3E3C3D;
  --cta-background: #2A3168;
  --cta-text: #F1FBEE;

  --yellow: #CACA00;
  --red: #FD696D;
  --green: green;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  width: 100%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button, .button {
  width: 100%;
  font-size: 1.2em;

  border: none;
  border-radius: 5px;
  padding: 5px;
}
